<%=show_previous_picture(picture) %>
<%=show_next_picture(picture) %>
<a class="sc_light" href="#" id="sh_cp">
  <div>©</div>
  <span>
    <p><%=h picture.title %> -- <%=h picture.owner %></p>
  </span>
</a>
