<div style="width: 600px">
  <div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">阿拉额名堂劲 (Vision)</div>
  <p>目前，这部电影的名头是“<a href="/home/show_post/6">我们的地下山寨大片</a>”&nbsp;或者说&nbsp;“<a href="/home/show_post/6">阿拉小八腊子大电影</a>”。</p>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td><br>
        <img src="/images/7.jpg" width="295">
      </td>
      <td width="10">
      </td><td width="295" align="left" style="vertical-align:top;text-align:justify;">
        <p><span style="font-size:18px;font-weight:bolder;color:#AFA09E">“地下”</span>以名，因为，期望的主题内容，不同于现在的主流媒体的作品，更多的是希望关注这座城市生活的表面之下的一些东西。也希望让观众，特别是上海本土观众触摸到一个个真实的，在身边的故事。</p>
        <p>所以，拍摄一部“上海，我爱你”的“大电影”是制作组的人员，从网上来到网下的共同的远景。</p>
      </td>
    </tr>
  </table><br>
  <p style="text-align:justify;">又冠之以<span style="font-size:18px;font-weight:bolder;color:#AFA09E">“山寨”</span>，因为，现在参与者或希望参与到这个电影制作组的人员，大都是来自这个城市“山上”（<a href="http://kds.pchome.net">“宽带山”&nbsp;网络论坛</a>）的各路大小神仙，山贼土匪们。</p>
  <div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">阿拉额模子们 (People)</div>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td width="290" align="left" style="vertical-align:top;text-align:justify;">
        <p>现在，第一部的短片成功出炉了。它的制作人员都是来自<span style="font-size:18px;font-weight:bolder;color:#AFA09E">各行各业</span>的虾兵蟹将们。有相关的影视制作，广告传媒，专业演员，化妆美术，更多的是热心的业余人士， 从金融投资人到IT工程师，从私人小老板到企业管理者。</p>
      </td>
      <td width="10" rowspan="4">
      </td>
      <td width="1" rowspan="4" style="background-color:gray">
      </td>
      <td width="9" rowspan="4">
      </td>
      <td></td>
    </tr>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="5" style="font-size:10px;">
          <tr>
            <td width="120"><strong>所属行业</strong></td>
            <td width="80"><strong>人数比例</strong></td>
          </tr>
          <tr>
            <td style="background-color:gray" colspan="2" height="1"></td>
          </tr>
          <tr>
            <td>-影视制作</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>-广告传媒</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>-专业演员</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>-金融投资</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>-信息技术</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>-私营业主</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>-企业管理</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>-市场营销</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>-学校人员</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>-其他</td>
            <td>10%</td>
          </tr>
        </table>
      </td>
      <td><img src="/images/image001.png" width="290"></td>
    </tr>
    <tr>
      <td align="left" style="vertical-align:bottom;text-align:justify;">
        <p>“上海，我爱你”制作组的参与者的年纪，也跨越了<span style="font-size:18px;font-weight:bolder;color:#AFA09E">几代人</span>。从60年代，颇有年纪的老克勒，到90年代，思维独特的新人类。</p>
      </td>
      <td></td>
    </tr>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="5" style="font-size:10px;">
          <tr>
            <td width="120"><strong>年龄范围</strong></td>
            <td width="80"><strong>人数比例</strong></td>
          </tr>
          <tr>
            <td style="background-color:gray" colspan="2"  height="1"></td>
          </tr>
          <tr>
            <td>-60年代及之前</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>-70年代</td>
            <td>35%</td>
          </tr>
          <tr>
            <td>-80年代</td>
            <td>45%</td>
          </tr>
          <tr>
            <td>-90年代及之后</td>
            <td>15%</td>
          </tr>
        </table>
      </td>
      <td><img src="/images/image003.png" width="290"></td>
    </tr>
  </table><br>
  <p style="text-align:justify;">就如同它的发源地“宽带山”，五花八门的人物，多姿多彩的故事，聚到了一起，还原了这个世界本来的颜色和精神。</p>
  <p style="text-align:justify;">当然，制作组成立至今，已经得到方方面面的关注。但是，仍然是一个没有资金来源，没有赞助机构的地下团体。</p>
  <p style="text-align:justify;">非盈利性的组织（<a href="http://en.wikipedia.org/wiki/Non-profit_organization">NPO</a>）形式也在申请过程之中，所以，现在，阿拉需要有更多热心的，各行各业的模子加入，为了这样一部“上海，我爱你”的阿拉小八腊子大电影，贡献自己的时间和力量。（<a href="/register">加入申请</a>）</p>
</div>
