<div style="width: 600px">
  <div style="font-size:20px;font-weight:bold;color: black;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid black;">短片形式的确定</div>
  <p>小组成立之初，是希望拍摄一部如同《<a href="http://www.mtime.com/movie/49093/">巴黎，我爱你</a>》，《<a href="http://www.mtime.com/movie/67056/">纽约，我爱你</a>》的“大电影”。但是，事实上，无论拍摄资源还是参加人员都有限制。</p>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300" style="vertical-align:top;text-align:justify; background-color:silver; padding: 0px 10px;">
        <p style="font-size:18px;font-weight:bolder;color:white">第一次开会，</p>
        <p style="line-height:18px">凑齐的是10来个各行各业热心的人士。虽然，我们有专业的老法师，我们有背后百万土匪的瞩目，可是，所谓高山仰止，却也可以说，无知者无畏。对于10来个人的，业余时间的，凑起来团队来说，拍摄一部正规的大电影，也许将是个类似于一群蚂蚁去攀登金茂的悲剧。</p>
      </td>
      <td>
        <img src="/images/9.jpg" width="400">
      </td>
    </tr>
  </table><br>
  <p style="text-align:justify;">“你挑着担，我牵着马”，唐三藏一路西行唱着。七年之间，他走过了十万八千里，终于，从西方带回了真经。因为，他相信能够走完迢迢千里取经路，给人们带来幸福和快乐东西。</p>
  <p>现在，上海的模子们凑在了一起，不仅仅是想看这样的一部电影，更相信这部电影可以由自己亲手打造。</p>
  <table width="600" cellpadding="0" cellspacing="10">
    <tr>
      <td colspan="3" height="1" style="background-color:gray"></td>
    </tr>
    <tr>
      <td width="299" align="right" style="vertical-align:top;">
        <p style="font-size:20px;font-weight:bolder;color:gray">所以，“敢问路在何方？”</p>
      </td>
      <td width="1" rowspan="2" style="background-color:gray"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td style="vertical-align:top;">
        <p style="font-size:20px;font-weight:bolder;color:gray">答曰：“路在脚下。”</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" height="1" style="background-color:gray"></td>
    </tr>
  </table>
  <p style="text-align:justify;">当时，导演和主创人员，建议先拍摄一部尝试性的30秒左右的短片，类似于电视商业片的TVC (Television Commercial)。这将是一小步，却是一个成功的开始。</p>
  <p style="text-align:justify;">因为，制作小组拍摄的作品是地下的，没有在电视上播放的计划，也从无有过商业目的和赞助的考虑，所以，也不能称为真正意义上的TVC，而是一个短小的样片。</p><br/>
  <div style="font-size:20px;font-weight:bold;color: black;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid black;">短片制作的介绍</div>
  <p>在制作小组中，不少是影视广告圈内人士。“懂的，自然懂”，这样短片制作，自然有了一个提携。</p>
  <p>计划方面，从之前的策划，到中期的Run-down，还有后期的制作，可以有条不紊的展开。管理方面，有很多现成的文档，模版可以参考。技术方面，有专业影视人员的出力, 也有了一定的保障。</p>
  <table width="600" cellpadding="0" cellspacing="0" style="border: solid black">
    <tr style="border: solid black">
      <td >
        <img src="/images/10.jpg" width="300">
      </td>
      <td width="300" style="vertical-align:top;text-align:justify; padding: 0px 10px;">
        <p style="line-height:18px">从最初的创意的收集, 到分镜头的绘制, 再到短片的拍摄以及后期的制作。</p>
        <p style="line-height:18px">这一部小短片, 利用的都是小组成员的业余时间和力量(主创, 编剧, 导演以及各位参与制作人员的周末和休假时间)。整个团队一共10来个人员，历时2个月的时间，为大家打造了这样一部短片。</p>
        <p style="line-height:18px">当然，除了制作小组以外，也有很多的朋友在这个过程中给与了其他形式的帮助。从提供车辆饭盒，到上网打气关注，还有报名群观众演员，甚至发来贺电。</p>
        <p style="line-height:18px">我们由衷感谢大家的支持！</p>
      </td>
    </tr>
  </table><br>
  <p>短片的成功, 少不了大家, 特别是, 阿拉<span style="font-size:18px;font-weight:bolder;color:gray">上海模子们</span>的帮忙。</p>
</div>
