<div style="width: 600px">
  <div style="font-size:20px;font-weight:bold;color: #960057;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #960057;">制作计划介绍</div>
  <table width="600" cellpadding="0" cellspacing="0" style="background-color:silver">
    <tr>
      <td width="300">
        <img src="/images/15.jpg" width="280" style="margin:10px">
      </td>
      <td width="300" style="vertical-align:top;text-align:justify; padding: 0px 10px;">
        <p style="text-align:justify;">短片小样是KDS “上海，我爱你”电影制作小组一个最初的尝试。一方面是对于电影制作的试验，另一方面也是对于小组合作的试水。</p>
        <p style="text-align:justify;">虽然，短片只有短短的1分钟还不到，而且，也没有很复杂的内容。甚至是有网友尖锐得批评过：“剧情不行音乐凑，画面不好字母补”。</p>
        <p style="text-align:justify;">更因为，这个完全是自发的，没有报酬的工作组，在筹备，拍摄的过程中，有人观望，有人踌躇，也有人离开。不过，没有失败，就没有成功，没有苦恼，也就没有快乐，一切都是随之而来的。</p>
      </td>
    </tr>
  </table>
  <p style="text-align:justify;">现在，对于一个“山寨”的小组，能够经历以上的种种考验了。从某种角度来说，能够拍摄出来这样的一个简单的东西，也是一种成功了。</p>
  <p style="text-align:justify;"><span  style="font-size:18px;font-weight:bolder;color:#D85193">正因为短片的成功拍摄，我们可以继续拍摄更多，更长的片子</span>，甚至是想看到的那个“大电影”。</p>
  <p style="text-align:justify;">短片完成了，之后的，有线索，有故事的作品，也在紧张筹备之中。同时，制作小组的协调团队，也在筹建之中。</p>
  <p style="text-align:justify;">希望能够不定期，为关注“上海，我爱你”电影小组的朋友献上小组的作品，当然，更希望这些关注“上海，我爱你”电影小组的朋友，也能够加入到制作小组之中给予帮助和支持。<span  style="font-size:18px;font-weight:bolder;color:#D85193">在这个作品里，抹上自己的亮色和痕迹。</span></p>
  <p style="text-align:justify;">“上海，我爱你”， <a href="/home/show_post/2">阿拉小八腊子额大电影！</a></p>
  <div style="background-color: #960057;color: white">
    <img src="/images/16.jpg" width="284" style="margin:10px 6px 5px 10px"/><img src="/images/17.jpg" width="284" style="margin:10px 10px 5px 6px"/>
    <p style="text-align:justify; margin:10px;">过去的一两个月，上海的天气，总是阴阴郁郁的，忽冷忽热的。以至于这个冬天，对于上海的老人来说，充满了不安和凶险。</p>
    <p style="text-align:justify; margin:10px;">短片的制作过程中，不少参与的朋友都有上了年纪的亲人离开人世。上海老人们的离去，于是，很多很多成为一种静止的回忆，就像，现在上海人眼中的上海：人口不断增长，土生土长的却越来越少，文化各式各样，心中那些却早已远去。</p><br/>
  </div>
  <div style="text-align:justify;vertical-align: top;width: 295px;margin: 0px 5px 5px 0px;line-height: 17px;float: left">
    <p>不论刮风下雨，制作短片，在准备短片。制作短片的日子里，几乎每个周末，小组都安排了碰头会议。 </p>
    <p>几次会议的记忆都是滴滴答答，湿湿漉漉的带着雨水。对于上班的来说，周末的晚上，特别是，雨夜的周末，应该一如周杰伦的《七里香》唱到的“雨下整夜，我的爱溢出就像雨水”。</p><p>也许应该是，找一个心爱的XS在Motel 168里听着“风声，雨声，XX声”快乐的好时光^_^</p>
  </div>
  <img src="/images/18.jpg" width="295" style="margin: 12px 0px 5px 5px;"/>
  <p>不过，而这个城市里，却还活跃着另外一群不安份的上海人。每个周末，从城市的各个地方赶来赶去，聚在一道，只为了拍摄一部地下非主流小电影，在雨夜中前行....</p>
</div>
