<div style="width: 600px">
  <div style="font-size:20px;font-weight:bold;color: #960057;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #960057;">上海 . 爱</div>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <img src="/images/12.gif" width="300">
      </td>
      <td width="300" style="vertical-align:top;text-align:justify; padding: 0px 10px;">
        <p style="font-size:18px;font-weight:bolder;color:#D85193">“上海，吾爱侬”</p>
        <p>“上海，我爱你”</p>
        <p>“Shanghai, I love you”</p>
        <p>“Shanghai, Je t'aime”</p>
        <p>“Shanghai, Ich liebe Dich”</p>
        <p>“上海，私はあなたを爱します”</p>
      </td>
    </tr>
  </table>
  <p style="text-align:justify;">对于一个“生于斯，长于斯”的上海人，或者那些爱上海的人，甚至对上海有点感情的人来说，这样一个题目，脑海里面总是会冒出各种各样的想法：积极的，消极的；开心的，伤感的；热情的，含蓄的；浪漫的，恶搞的；经典的，叛逆的…</p>
  <p  style="font-size:18px;font-weight:bolder;color:#D85193">这是一座大城市，在这里每天都上演着五颜六色的，关于爱的故事…</p>
  <p style="text-align:justify;">2000万人口的基数，以至于，一些离奇的，小概率的事情都兴许会在这个城市的某个角落发生着。</p>
  <p style="text-align:justify;">之前，那两部《<a href="http://www.mtime.com/movie/49093/">巴黎，我爱你</a>》，《<a href="http://www.mtime.com/movie/67056/">纽约，我爱你</a>》，导演们用一个个3-5分钟的小故事演绎着城市里爱的故事。不同的角度，不同的主题。类似的，我们也尝试着，用3-5分钟的故事片断，来表现，上海，爱的主题的故事，可以是，爱情，爱人，爱这座城市的一切。</p>
  <p style="text-align:justify;">当然，如果条件允许的话，可以最终通过这些故事片断，来串起一个完整的故事。</p>
  <div style="font-size:20px;font-weight:bold;color: #960057;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #960057;">模子 . 入</div>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300" style="vertical-align:top;text-align:justify; padding: 0px 10px 0px 0px;">
        <p>这是一个“上海，我爱你”电影小组的策划，只是目前没有资金，没有赞助，是一个自发的，完全靠着小组成员的热情和勇气，构建起的平台：</p>
        <p>“用电影的形式，故事的叙述，留下人们心中关于上海的爱，记录下尽可能多的东西，特别是，那些本土的，即将消失的…”</p>
        <p>之于“上海，我爱你”，之于以上的种种的内容，喜欢讲故事的人，他们会有自己的故事；喜欢摄像的人，他们会有自己的画面；喜欢排戏的人，他们会有自己的剧本；喜欢歌唱的人，他们会有自己的旋律…</p>
      </td>
      <td>
        <img src="/images/13.jpg" width="300">
      </td>
    </tr>
  </table>
  <p style="text-align:justify;"><span style="font-size:18px;font-weight:bolder;color:#D85193">帮助上海的模子们，大声喊出“上海，我爱你”</span>，是这个平台的最大目的。通过网络宣传，在线问卷，汇集到人脉，物力甚至财力资源的。让参与者施展自己才能，让收集到的资源得到充分利用是最大的宗旨。</p>
<p style="text-align:justify;">具体来说，参与者只要在网络上提交参与意向的信息：希望发挥的才能，愿意分享的资源，还有希望表达的东西。</p>
<div style="text-align:center;"><img src="/images/14.jpg" width="500" ></div><br/>
<p style="text-align:justify;">制作小组会与你尽快联系，并且，协调当前收集到的人力，物力资源，让参与者，表达出心中关于“上海，我爱你”真实的想法来。</p>
<p style="text-align:justify;">这样的方式工作，在第一部的小短片中，我们就进行了成功的尝试。如果资源允许，管理协调方便的情况下。甚至可以多个制作组同时运行，共享一些资源。</p>
<p style="text-align:justify;">所以, 不无论你是单枪匹马的个人，还是一个佳作频出的团队，“上海，我爱你”的故事，都希望得到你的支持和续写，当然，小组也愿意为你服务，提供帮助。</p>
<p>相信老栾的上海人，<a href="/register"><span style="font-size:18px;font-weight:bolder;color:#D85193">上海需要更多的模子！</span></a></p>
</div>
