<div style="width: 600px;">
  <div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">成立背景</div>
  <p style="text-align:justify;">中国，上海，2009年，21世纪之初的第一个10年的，官方统计常住人口已经超过了<span style="font-size:18px;font-weight:bolder;color:#AFA09E">2000万</span>......</p>
  <table width="600" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td><img src="/images/1.jpg" width="198"></td>
        <td><img src="/images/2.jpg" width="198"></td>
        <td><img src="/images/3.jpg" width="198"></td>
      </tr>
    </tbody>
  </table>
  <p style="text-align:justify;line-height:20px">从千禧年之初的1000多万人口，膨胀到现在的2000万人口。十年间，这座城市的人口基本翻了一倍。一方面是城市的不断扩张，大量人口的增加涌入，给城市带来了活力生机；另一方面城市的空间和设施的发展限制，为生活在这里的人们带了压力。</p>
  <p>于是，这座城市里除了挑战和机遇，还有的是矛盾和冲突。</p><br>
  <table width="600" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="background-color:black" width="350">
          <img src="/images/4.gif" width="350">
        </td>
        <td style="background-color:#CFC6C5;padding:10px;vertical-align:top;" width="250">
          <p><span style="font-size:15px;font-weight:bold;color:#3B0910;line-height:23px">-“求求你不要说上海话了,我讨厌你们上海人。”</span></p>
          <p style="text-align:justify;color:#3B0910;line-height:23px">-“我就觉得，首先，请你以一种，团成一个团的姿势，然后，慢慢地比较圆润的方式，离开这座让你讨厌的城市，或者讨厌的人的周围。”</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align:justify;line-height:20px">也许很多时候，我们可以装聋作哑，来一个鸵鸟式的沉默。但是，动感101的那一次不小的冲突，却猛然得把我们拽出了沙堆。</p>
  <p style="text-align:justify;line-height:20px">因为这个事件反响不小，网络上，平面媒体上，甚至电台广播中有很多讨论，评价甚至争执。只是，发现人们更多的是关注着事件的表面的“团团门”，不断追究着错与对，是与非。而很少考虑整个事件的缘由和背后的。</p><br>
  <img src="/images/5.jpg" width="600">
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td width="170" align="left" style="vertical-align:top;"><br><br>
        <span style="font-size:18px;font-weight:bolder;color:#AFA09E">城市，<br>像一个生命体</span>
      </td>
      <td width="10"></td>
      <td style="vertical-align:top;"><br>
        <p style="text-align:justify;line-height:20px">他在不断的生长着的同时，也在新陈代谢着，身体里的某些东西也在老去着。也许人们无法阻止淘汰和消亡的必然过程。但是，所谓“死者安息”，只是希望在这个过程之中，那些将要失去的东西可以得到尊重和爱护。</p><br>
        <p style="text-align:justify;line-height:20px">比如，一些上海的文化，上海的方言。诚然，相比，一些中国其他的古都，上海历史和文化的沉淀不是很多，这却也使上海文化，在本土人心中显得尼足珍贵。</p>
      </td>
    </tr>
  </table>
</div><br>
<div style="width: 600px">
  <div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">诞生日记</div>
  <table width="600" cellpadding="0" cellspacing="10">
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2009年12月30日</p>
      </td>
      <td width="1" rowspan="6" style="background-color:gray"></td>
      <td style="vertical-align:top;">
        <p>一个《<a href="http://club.pchome.net/thread_1_15_4938121__.html">拍"上海，我爱你",上海宁统统乱入报道,标题够长伐？</a>》的帖子，在上海的一个本地论坛，宽带山发布，希望使用网络的资源和本土的力量，拍摄一本类似于《巴黎，我爱你》，《纽约，我爱你》的电影...</p>
      </td>
    </tr>
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2009年12月30日</p>
      </td>
      <td style="vertical-align:top;">
        <p>这一个关于拍摄《上海，我爱你》电影的召集帖子，在网络上得到非常多的关注和回应，人们在网络上建立了QQ群...</p>
      </td>
    </tr>
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2009年12月31日</p>
      </td>
      <td style="vertical-align:top;">
        <p>号召者建立了<a href="http://shanghaiiloveu.blogbus.com/">Blog</a>，记录发生的点滴...</p>
      </td>
    </tr>
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2010年1月3日</p>
      </td>
      <td style="vertical-align:top;">
        <p>第一次会议之后，宣告KDS “上海，我爱你”电影制作小组的成立，并开始了运作...</p>
      </td>
    </tr>
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2010年1月24日</p>
      </td>
      <td style="vertical-align:top;">
        <p>大雨之中，迎来的会议，确定了第一部短片的剧本和内容...</p>
      </td>
    </tr>
    <tr>
      <td width="150" align="right" style="vertical-align:top;">
        <p>2010年2月12日</p><br>
      </td>
      <td style="vertical-align:top;">
        <p>KDS “上海，我爱你”电影制作小组的第一部短片，正是开机...</p>
      </td>
    </tr>
  </table><br/>
  <p>“上海，我爱你”制作的故事也就这样开始了。也许，一切的只是为了追求一种&nbsp;<span style="font-size:18px;font-weight:bolder;color:#AFA09E">“和谐”</span>&nbsp;的快感和冲动。</p>
</div>

