<div style="width: 600px">
<div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">阿拉额规矩 (Value)</div>
  <p style="text-align:justify;">虽然，本着娱乐大众的信条，电影制作小组开拍了这一部地下山寨电影。但是，参加制作的人员是以做出一部2010年“大片”为目的，兢兢业业，尽力做出一个最好东西，献给关注这部电影，热爱这座城市的，独立特行的观众们。</p>
  <table border="0" cellpadding="0" cellspacing="8" style="background-color:black">
    <tr height="110">
      <td><img src="/images/8-1.jpg" width="140" height="100"></td>
      <td><img src="/images/8-2.jpg" width="140" height="100"></td>
      <td><img src="/images/8-3.jpg" width="140" height="100"></td>
      <td><img src="/images/8-4.jpg" width="140" height="100"></td>
    </tr>
  </table><br>
  <p style="text-align:justify;">同时，区别于一般的电影制作方式，制作小组是通过网络形式发起、组织活动，协调参与人员的业余时间，拍摄完成了作品。不同的人员背景，走出网络，下山而来。</p>
  <p style="text-align:justify;">这样一种新的形式，本身就是一个充满乐趣的尝试活动。在这个舞台上，聚光灯下，大师们把玩着擅长的光影魔术，无私得分享着他们的经验，其他半专业的，非专业的，也能够贡献自己的一份力量，乐此不彼的同时享受着一种合作的快感，
    <span style="font-size:18px;font-weight:bolder;color:#AFA09E">“人人参与，享受快乐”</span>。
  </p>
  <div style="font-size:20px;font-weight:bold;color: #3B0910;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid #3B0910;">阿拉额台型 (Mission)</div>
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300" style="vertical-align:top;text-align:justify; background-color:#CFC6C5; padding: 0px 10px;">
        <p style="font-size:20px;font-weight:bolder;text-align:right;color:#3B0910">上海，面向着东海</p>
        <p style="line-height:23px">这座城市很多时候，也如同边上的大海，海平面风平浪静，鱼儿们随波逐流。海水淹没着海底汹涌的洋流，崎岖的地壳，以及多样的生物。</p>
        <p style="line-height:23px">因为，这样一个活动组织，“扑通”之间，大家来到了城市生活的表面之下，探索着另一番新的景象。也许因为，这个活动组织，进行的时候，就有各色的故事发生，非常希望这些故事，能为我们热爱的城市，生活带来些有意义的东西。</p>
      </td>
      <td>
        <img src="/images/8.jpg" width="300">
      </td>
    </tr>
  </table>
  <p style="font-size:18px;font-weight:bolder;text-align:left;color:#AFA09E">让人们懂得爱上海，这座城市，这里的生活。</p>
  <p>随着，制作的继续，大电影的开拍，需要更多的“模子”，<a href="/register">加入我们</a>，参与到我们的制作小组之中，为我们带来更多的精彩。</p>
</div>
