<div style="width: 600px">
  <table width="600" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2">
        <div style="font-size:20px;font-weight:bold;color: black;margin: 20px 0px 10px;">主创导演诠释</div>
      </td>
    </tr>
    <tr>
      <td colspan="2" height="1" style="background-color:black">
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/11.jpg" width="300">
      </td>
      <td width="300" style="vertical-align:top;text-align:justify; background-color:black; padding: 0px 10px;">
        <p style="font-size:20px;font-weight:bolder;color:silver">主创辣粉</p>
        <p style="color:white">城市，是一个归宿，是一种情愫</p>

        <p style="color:white">每个人，总是会忽略离自己最近的东西，却又难以记起那遗忘的是什么</p>
        <p style="color:white">爱，是倔强的宣泄，我们用我们的影片呐喊</p>
        <p style="color:white">找回曾经逝去的自己...</p>
        <p style="font-size:20px;font-weight:bolder;text-align:right;color:silver">导演猫疯子</p>
        <p style="color:white"></p>
      </td>
    </tr>
  </table>
  <div style="font-size:20px;font-weight:bold;color: black;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid black;">主要制作团队和设备</div>
  <table width="400" cellpadding="0" cellspacing="10">
    <tr>
      <td width="200" align="right" style="vertical-align:top; color: gray;font-weight: bold">
        <p>摄像大湿：</p>
      </td>
      <td style="vertical-align:top;">
        <p>我吃荤/我吃素/口条熊…..</p>
        <p>Anki</p>
      </td>
    </tr>
    <tr>
      <td align="right" style="vertical-align:top; color: gray;font-weight: bold">
        <p>化妆艺术指导：</p>
      </td>
      <td style="vertical-align:top;">
        <p>Anna</p>
        <p>燕子</p>
      </td>
    </tr>
    <tr>
      <td align="right" style="vertical-align:top; color: gray;font-weight: bold">
        <p>编剧插画：</p>
      </td>
      <td style="vertical-align:top;">
        <p>抱抱</p>
        <p>KDS GG</p>
      </td>
    </tr>
    <tr>
      <td align="right" style="vertical-align:top; color: gray;font-weight: bold">
        <p>剧务团队：</p>
      </td>
      <td style="vertical-align:top;">
        <p>KDS 日理万鸡</p>
        <p>KDS 湫雨晨梦</p>
        <p>菲尼克斯</p>
        <p>KDS 路边社</p>
      </td>
    </tr>
  </table>
  <div style="font-size:20px;font-weight:bold;color: black;margin: 20px 0px;padding-bottom: 5px; border-bottom: thin solid black;">演员介绍</div>
</div>
