<div id="sw_canvas">
  <%=render :partial=>"home/side_space", :locals => {:category => 1}%>
  <div id="sw_main">
    <div id="content">
      <div id="results_area">
        <div id="results_container">
          <div class="sb_ph">
            <h1><strong>看看阿拉额名堂劲</strong></h1>
            <span class="sb_count">关于“上海，我爱你”电影制作小组现状</span>
          </div>
          <div id="results"><br/>
            <%=render :partial=>"information/summary_5"%>
          </div>
        </div>
      </div>
      <div id="sidebar"><%=render :partial=>"home/adv_space"%></div>
    </div>
  </div>
</div>