<div style="width:600px">
  <span>
    <%= image_tag("/images/preview.jpg") %>
  </span>
  <div style="font-size:20px;font-weight:bolder;color:gray;width:430px; float:right;margin:0px 10px 10px 0px;padding:0px 0px 5px 0px">
    抱歉！<br/>没有任何相关的视频发布，尽请期待。
  </div>
  <p style="font-weight:bolder;text-align: right">
    <%= link_to "返回首页>>", :controller=>"home" %>
  </p>
</div>

